.random-gen-container {
  display: flex;
}

.random-episode-text {
  margin: 0px 10px;
}

.refresh-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 25px;
  transform: scale(.75)
}

.refresh-button:hover {
  background-color: lightgray;
  border-color: lightgray;
}

.refresh-button-icon {
 width: 25px;
 height: 25px;
}

.refreshing {
  animation: spin infinite 1s;
}

@keyframes spin {
  0% {
    transform: scale(.75) rotate(0deg);
  }
  100% {
    transform: scale(.75) rotate(360deg);
  }
}