.column {
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

.card-body {
  align-self: center;
}

.card-image {
  object-fit: contain;
  cursor: pointer;
  user-select: none; 
}

.card-img-overlay:hover {
  z-index: 9999;
  background: rgba(1,1,1,.5);
  color: white;
  height: min-content;
}