.column {
  padding-bottom: 10px;
}

.card-body {
  align-self: center;
}

.card-image {
  object-fit: contain;
  cursor: pointer;
}

.card-img-overlay {
  z-index: -1;
}

.card-img-overlay:hover {
  z-index: 9999;
  background: rgba(1,1,1,.5);
  color: white;
  height: min-content;
}
